DJANGO_SECRET_KEY=
TELEGRAM_BOT_TOKEN=  # get from @BotFather
TELEGRAM_CHAT_ID=  # get via https://api.telegram.org/bot<TOKEN>/getUpdates
DEBUG=False
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
STRIPE_SECRET_KEY=
FINE_MULTIPLIER=2
